/* Background */
body {
    background-color: #efefefe4;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  /* List */
  .list-section {
    margin: 20px;
    padding: 20px;
    background-color: #fff0f5;
  }
  
  /* Image  */
  .image-section {
    margin: 20px;
    padding: 20px;
    background-color: #ffe4e1;
    text-align: center;
  }
  
  /* YouTube video */
  .video-section {
    margin: 20px;
    padding: 20px;
    background-color: #f5f5dc;
    text-align: center;
  }
  
  /* Link */
  a {
    color: #007acc;
    text-decoration: none;
    font-weight: bold;
  }
  